# Compilation des décès quotidiens historique en France

source : https://www.data.gouv.fr/fr/datasets/fichier-des-personnes-decedees/

In [2]:
import pandas as pd

In [23]:
import_cols =['date_deces','code_lieu_deces']

In [33]:
df = pd.read_csv('path',  usecols = import_cols, low_memory=False)

In [34]:
dft= df.groupby('date_deces').count()

In [35]:
dft.describe()

       code_lieu_deces
count     21485.000000
mean       1167.708075
std         574.871135
min           1.000000
25%        1066.000000
50%        1357.000000
75%        1522.000000
max        3674.000000

In [36]:
dft

            code_lieu_deces
date_deces
1882-10-01                1
1886-10-01                1
1889-07-04                1
1889-10-06                1
1890-07-16                1
...                     ...
2020-03-26             1647
2020-03-27             1178
2020-03-28              853
2020-03-29              559
2020-03-30              179

[21485 rows x 1 columns]

In [39]:
dft.columns = ['nbr_deces']

In [41]:
dft.to_csv('histo_deces.csv')