# Crunching naissance FR

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [22]:
naissance = pd.read_csv('data_naissance/valeurs_mensuelles.csv', sep=';')

In [23]:
snap = naissance.loc[0,'Dernière mise à jour']

In [24]:
naissance = naissance.drop(['Libellé','idBank','Dernière mise à jour','Période'], axis=1)
naissance = naissance.iloc[0,:]
naissance = pd.DataFrame(naissance)
naissance.columns =['naissance']

In [25]:
naissance

        naissance
1946-01     64599
1946-02     65702
1946-03     78294
1946-04     76400
1946-05     76636
...           ...
2020-11     56100
2020-12     55300
2021-01     51200
2021-02     49200
2021-03     57800

[903 rows x 1 columns]

In [36]:
import datetime
snap = datetime.datetime.strptime(snap, "%d/%m/%Y %H:%M").date().isoformat()

In [37]:
snap

'2021-04-30'

In [38]:
naissance.to_csv('data_naissance/'+snap+'_naissance.csv')